# Core
python-dotenv==1.2.1
requests==2.32.5
numpy==2.3.5

# LLM & Embeddings
sentence-transformers==5.1.2
groq

# Forum Automation
playwright==1.56.0
mcp==1.22.0

# Dashboard
streamlit==1.53.0

# Utilities
scikit-learn==1.7.2
